// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


main{
  margin: 70px auto 0;
}

form{
  max-width: 500px;
  margin: 0 auto;
}

.alert-info, table{
  a{
    color: lightcoral;
  }
}